.coursebox{
    margin: 20px 0px;
    
}

.card_course{
    width: 250px;
    height: auto;
    border-left: 4px solid rgb(48, 16, 255);
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom:1px solid black ;
    border-radius: 15% 5%;
    border-style: groove;
    padding:12px;
    
}

.course-title{
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font:bold;
    font-size: large;
}

.course-code , .course-category{
    color: black;
    font-weight: 500;
    font-size: small;
}